html {
    font-size: 14px;
    background-image: url('/images/Background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin: 8px;
  background-color:transparent!important;
}

.container{
    background-color:white !important;

  
}

.logo {
    width:190px;
    height:65px;
}