@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3 d-flex justify-content-center align-items-center">
        <img class="banner mx-auto" src="~/images/Bannerprospecta.jpg" />
    </main>
</div>
